<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <div style="text-align: center;">
            <h2>11/29 社群技術議程</h2>
            <h4>台大社科院</h4>
        </div>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>101</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>102</strong>
                         <span>1 樓</span> 
                    </th>
                    <th>
                        <strong>201</strong>
                        <span>2 樓</span>
                    </th>
                    <th>
                        <strong>202</strong>
                        <span>2 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">08:30-09:00</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:00-09:10</td>
                    <td class="hover-bg" colspan="4" rowspan="1" >
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:10 - 09:50</td>
                    <td class="break hover-bg">
                        <a href="Speaker#YinSangzhi">
                            <h5>關於語境工程（context engineering)的奇淫巧技</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#CaiWenlong">
                            <h5>AI Agent啟動指南：全面解析Responses API與Realtime API</h5>
                            <p><span>By</span> 蔡文龍 / 歐志信</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#MarcusTung">
                            <h5>Spec-kit x O.D.D：打造 AI 時代的 .NET 開發新選擇？</h5>
                            <p><span>By</span> Marcus Tung</p>
                        </a>
                   </td>
                   <td class="break hover-bg">
                        <a href="Speaker#EvanceKao">
                            <h5>Agent-Driven 個人化商品搜尋系統</h5>
                            <p><span>By</span> Evance Kao</p>
                        </a>
                   </td>
                </tr>
                <tr>
                    <td class="event-time">10:00 - 10:40</td>
                    <td class="break hover-bg">
                        <a href="Speaker#LinZhengxiang">
                            <h5>AI Foundry X Github Copilot 帶你快速打造第一個 .NET的AI應用程式</h5>
                            <p><span>By</span> ATai / Shanna </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#Daisy">
                            <h5>告別敏捷「假成功」：將承諾轉為可靠的價值交付</h5>
                            <p><span>By</span> Daisy</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#BillChung">
                            <h5>C# 14 新功能</h5>
                            <p><span>By</span> Bill Chung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#ahdaa">
                            <h5>從規格與代理部署的圓舞曲</h5>
                            <p><span>By</span>Ahdaa</p>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="event-time">10:50 - 11:30</td>
                    <td class="break hover-bg">
                        <a href="Speaker#RuddyLee">
                            <h5>AI時代工程師的軟技能</h5>
                            <p><span>By</span> 李智樺 </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#BaoChengyou">
                            <h5>地端AIAgent +AutoGen, Token Intelligence無極限</h5>
                            <p><span>By</span> 鮑承佑 (老鮑伯)</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#andrew">
                            <h5>Designing for Agents: MCP-First Design Concepts</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                        <td class="break hover-bg">
                        <a href="Speaker#">
                            <h5>TBD</h5>
                            <p><span>By</span> TBD</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:30 - 13:00</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:00 - 13:40</td>
                    <td class="break hover-bg">
                        <a href="Speaker#WillHuang">
                            <h5>ASP.NET Core 10.0 全新功能探索</h5>
                            <p><span>By</span> Will 保哥 </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#JimmyLiao">
                            <h5>Azure AI Foundry 上的企業級 Agent 開發實踐：運用 Microsoft Agent Framework 與 Codex CLI 打造高效能多代理協作系統</h5>
                            <p><span>By</span> Jimmy Liao </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#IanChan">
                            <h5>震撼！SK：我還沒退場啊！Agent Framework：對不起，我來了</h5>
                            <p><span>By</span> Ian Chan</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#JamesTsai">
                            <h5>莫名其妙就跟世界級的 OpenSource 專案攪和了!? </h5>
                            <p><span>By</span> James Tsai </p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:50 - 14:30</td>
                    <td class="break hover-bg">
                        <a href="Speaker#KyleShen">
                            <h5>數據驅動：研發效能與產品價值共舞</h5>
                            <p><span>By</span> 沈宏洲 (Kyle) / 陳岳澤 (Derek) </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#AlanTsai">
                            <h5>API Design First：設計先行但實作跑偏？聊聊設計與實作的一致性挑戰</h5>
                            <p><span>By</span> Alan Tsai </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#DemoFan">
                            <h5>地表最強 IDE Visual Studio 2026 來了！</h5>
                            <p><span>By</span> Demo Fan </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#Summit">
                            <h5>AI Agent 也要技術選型嗎？深入了解語言模型跑分與評測資料集</h5>
                            <p><span>By</span> 孫玉峰 (Summit Suen) </p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">14:40 - 15:20</td>
                    <td class="break hover-bg">
                        <a href="Speaker#EdwardKuo">
                            <h5>在企業實施混合人工智慧解決方案</h5>
                            <p><span>By</span> Edward Kuo</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#JrtingShiau">
                            <h5>Chat Bot 的隱藏知識庫：RAG 以外的第二選擇</h5>
                            <p><span>By</span> 蕭晊莛</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#KoKo">
                            <h5>使用 Azure AI 與 LangGraph 來開發 AI Agent</h5>
                            <p><span>By</span> Ko Ko</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#GelisWu">
                            <h5>當 Mermaid 遇上 Visual Studio 2026 會迸出什麼火花呢？</h5>
                            <p><span>By</span> Gelis Wu</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:10</td>
                    <td class="break hover-bg">
                        <a href="Speaker#DavidTung">
                            <h5>變革 👉 面對變革</h5>
                            <p><span>By</span> David Tung 董大偉  </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#JiaSin">
                            <h5>探索Azure AI內容安全，打造負責任的AI</h5>
                            <p><span>By</span> 陳佳新</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#RyanChung">
                            <h5>MS Ignite 2025舊金山現場直擊 - 最新趨勢大剖析</h5>
                            <p><span>By</span> Ryan Chung </p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#TimLai">
                            <h5>碼農出擊! GitHub Copilot 帶你飛：打造超效率開發術</h5>
                            <p><span>By</span> Tim Lai</p>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
