@page "/Organizer"
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>主辦單位</h2>
                    <h4>Organizer</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Sponsor Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/study4-logo.svg" width="500" height="300" alt="STUDY4">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>STUDY4</h2>
                    <p>
                        STUDY4 是成立超過 10 年的技術社群，有很喜歡搞 DB 的
                        DBA、喜歡寫前端的前端工程師、愛開發行動裝置的開發人員，無論是甚麼樣的技術，我們都喜歡一起來討論、研究。我們重視人與人之間的互動經過，希望能和您一起來討論。
                    </p>
                    <p>
                        我們希望藉由社群推廣的力量，來讓台下的朋友聽到來自不同縣市的大師講課，也讓台上年輕一輩的技術傳教士能不斷的琢磨並且追上大師。我們這個社群希望透過分享，給偏遠地區、年輕一輩、每一個人，多那麼一點機會。期盼透過社群的力量，促進年輕及資深開發者之間的資訊交流，實現經驗與知識傳承。
                    </p>
                    <p>
                        <a href="https://study4.tw/" target="_blank" class="ha-btn">https://study4.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        @* <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/build-school-logo.jpg" width="500" height="300" alt="Build School">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h2>Build School</h2>
                    <p>
                        Build School 是最酷的軟體工程與IT專業培訓學校，幫助想搭上軟體及網路經濟的學員們，打造更有競爭力的職涯；透過身經百戰的實務講師、企業資深工程師或 CTO，帶領學員實作真正能運作的產品，解決真實世界的問題，成為專業的軟體工程師。
                    </p>
                    <p>
                        我們也協助企業更有效的找到專業軟體及 IT 人才! 成立 7 年培育了近 500 位軟體與資訊人才，也成立了「台灣青築未來協會 Build the Future」，由 Build School 校友群所組成之協會，持續與 Microsoft 台灣微軟合作公益培訓並參與其旭日計畫，協助職場與社會人士及青年學子養成數位技能以提升就業力；與微軟合作推廣認證、數位技能及軟體技術至 2023/11 月亦將達 1,500 人次培訓。
                    </p>
                    <p>
                        若您有軟體工程師徵才需求，期待與企業先進們於現場多多交流、或於官網/粉專留訊，謝謝您!
                    </p>
                    <p>
                        <a href="https://www.build-school.com/" target="_blank"
                            class="ha-btn">https://www.build-school.com/</a>
                    </p>
                </div>
            </div>
        </div> *@
    </div>
</section>

<hr />

<!-- Sponsor Section End -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>合作單位</h2>
                    <h4>Cooperating Partner</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/collaborate.png" width="500" height="500" alt="Hello Potential Partners">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h2>是你嗎？</h2>
                    <p>這場活動，沒有龐大的預算，沒有專職的團隊，只有一群熱愛技術的朋友，用著自己下班後、假日裡的珍貴時光，一點一滴地把它籌備起來。因為我們相信，知識分享的力量能讓彼此都變得更好。</p>
                    <p>這是一場由技術社群驅動的活動。</p>
                    <p>我們誠摯邀請更多企業夥伴加入我們，一起推動這份熱情與價值。無論是透過技術分享、活動贊助，或任何形式的合作，您的參與都能讓這場聚會更加完整，也讓更多人受益。</p>
                    <p>如果您願意與我們攜手，請與我們聯絡。因為有您，我們才能一起走得更遠。</p>
                    <p>
                        <a href="https://study4.tw/" target="_blank"
                           class="ha-btn">https://study4.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        @* <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/microsoft-logo.svg" width="500" height="300" alt="Microsoft 台灣微軟">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h2>Microsoft 台灣微軟</h2>
                    <p>
                        微軟是全球科技產業的領航者，提供全球領先的軟體、服務、設備和解決方案，自 1975 年成立以來，一直致力於幫助個人和企業用戶，全面發揮科技潛能，實現夢想。
                    </p>
                    <p>
                        四十多年來，微軟一直專注於技術創新與變革，透過卓越的軟體、設備和服務，能夠幫助用戶提昇生活和工作生產力，讓數億的使用者真正受益於科技。微軟公司總部位於美國華盛頓州 Redmond，在全世界超過
                        190 個國家和地區設有分公司或是分支機構，擁有超過 125,000 名員工。
                    </p>
                    <p>
                        微軟執行長 Satya Nadella
                        在上任後提出了新願景：「在這個行動優先、雲端至上的世界裡，微軟的核心競爭力，就是成為一個提供生產力與平台的公司，幫助在這個地球上的每一個人到每一個組織，都能貢獻更多、成就更大。」
                    </p>
                    <p>
                        台灣微軟成立於 1989 年，身為政府、學校與企業最值得信賴的夥伴，始終致力於幫助台灣提升創新力、競爭力以及促進經濟繁榮，共同來亮點台灣！
                    </p>
                    <p>
                        <a href="https://www.microsoft.com/zh-tw/" target="_blank"
                            class="ha-btn">https://www.microsoft.com/zh-tw/</a>
                    </p>
                </div>
            </div>
        </div>
        <br /> *@
        @* <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/tsmc-logo.svg" width="500" alt="台積電">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>TSMC 台灣積體電路製造股份有限公司</h2>
                    <p>
                        台積公司是世界領先的專業積體電路製造服務公司，背後關鍵秘訣是：Fab runs on code ── 跑在程式碼上的晶圓廠。台積IT是半導體前瞻製程的重要支援夥伴，產品藍圖涵蓋資通訊建構、AI 應用、技術系統及企業系統，服務的使用者來自工廠、企業員工及合作夥伴。我們匯聚全球頂尖人才，打造雲原生和數位卓越。Change is happening. Join us now!
                    </p>
                    <p>
                        Change is happening. Join us now!
                    </p>
                    <p>
                        <a href="https://www.tsmc.com/chinese/" target="_blank"
                            class="ha-btn">https://www.tsmc.com/chinese/</a>
                    </p>
                </div>
            </div>
        </div>
        <br /> *@
        @* <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/HouseFun-logo.svg" width="500" alt="好房網 HouseFun">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>好房網 HouseFun</h2>
                    <p>
                        好房網（HouseFun）是一個完整的房地產資訊平台，提供買屋、租屋、社區生活、新建案以及實價登錄等多元服務。 不僅整合最新房地產市場動態與新聞，更提供房地產知識講座，為有意購屋、租屋或投資房地產的使用者，提供專業且實用的居住資訊，協助他們在房地產交易過程中做出最適合的選擇。
                    </p>
                    <p>
                        加入好房網，與我們一同打造台灣最值得信賴的房地產資訊平台！我們重視創新思維，歡迎充滿熱情的你加入團隊，在數位科技與房地產的交會處，開創美好的居住體驗。
                    </p>
                    <p>
                        <a href="https://www.housefun.com.tw/" target="_blank"
                            class="ha-btn">https://www.housefun.com.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        <br /> *@
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/91app-fund-logo.png" width="500" alt="91APP基金會">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>91APP基金會 </h2>
                    <p>
                        91APP基金會由台灣首家上櫃SaaS公司91APP支持成立，致力推動台灣的數位發展、AI 數位人才、電商普及等。基金會串聯六百多位91APP專業工作者，將專業能量轉化為實際公益行動，投入產業升級與社會服務。
                    </p>
                    <p>
                        91APP基金會聚焦「數位共益」「數位培力」「產業共享」三大服務。我們邀請夥伴一起搭建共益平台，歡迎關注91APP基金會官網與我們聯繫。
                    </p>
                    <p>
                        <a href="https://91app.org.tw/" target="_blank" class="ha-btn">91APP基金會官網</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/titansoft-logo.svg" width="500" alt="新加坡商鈦坦科技">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>新加坡商鈦坦科技</h2>
                    <p>
                        鈦坦在台北、台中、高雄都有辦公室，而三地最大的共同點，就是舒適開放的大空間，以及擺放著各式酒類的吧檯。我們相信員工都是「成年人」，只要能夠將事情做好做完，想喝酒、玩桌遊、打電動都是沒有問題的，只要你瞭解，要享受「自由」前，必須先「自律」！
                    </p>
                    <p>
                        我們的工作模式，就事論事，對事不對人，學歷經歷都不重要，有貢獻就有回饋，我們擁抱改變，並隨機應變。
                    </p>
                    <p>
                        <a href="https://gotica.io/鈦坦大小事/.NET" target="_blank" class="ha-btn">官方網站</a>
                        <a href="https://gotica.io/鈦坦粉專/.NET" target="_blank" class="ha-btn">Facebook</a>
                        <a href="https://gotica.io/Titaner/.NET" target="_blank" class="ha-btn">Instagram</a>
                        <a href="https://gotica.io/鈦坦影院/.NET" target="_blank" class="ha-btn">YouTube</a>
                        <a href="https://gotica.io/Career/.NET" target="_blank" class="ha-btn">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
        <br /> 
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/onelab-logo.png" width="500" alt="瑞嘉軟體科技">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>瑞嘉軟體科技</h2>
                    <p>
                       瑞嘉軟體科技 ONElab 創立於2010年，為英國ONEworks集團在台灣的核心研發基地。我們以深厚的軟體開發實力與整合能力為基礎，提供一站式平台與客製化技術方案，精準滿足全球市場與國際級客戶的需求。我們相信員工是最重要的合作夥伴，致力打造如家人般的文化與友善溝通環境。近年積極導入敏捷思維與正念課程，推動高自主、高信任的職場氛圍，讓夥伴在成長、創新與幸福之間取得最佳平衡。我們曾榮獲「HR Asia亞洲最佳企業雇主獎」、「敏捷大賞組織獎」等多項肯定。誠摯邀請志同道合的你一起加入，與我們攜手前行、共創未來。
                    </p>
                    <p>
                        接下來：期待你與我們一起，加速這個改變、創造超乎想像的體驗、成就即將到來的未來！
                    </p>
                    <p>
                        <a href="https://www.onelab.tw/" target="_blank" class="ha-btn">瑞嘉軟體科技</a>
                        <a href="https://www.facebook.com/ONElabTW/" target="_blank" class="ha-btn">Facebook</a>
                        <a href="https://www.instagram.com/onelab.tw//" target="_blank" class="ha-btn">Instagram</a>
                    </p>
                </div>
            </div>
        </div> 
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/xvideo-logo.svg" width="500" alt="成功國際攝影">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h2>成功國際攝影</h2>
                    <p>
                        成功國際攝影專注於直播、導播、多地轉播技術，深耕台灣、中國兩岸三地拍攝，從簡單的研討會攝影、花絮拍攝，到困難的多地直播轉播都是我們的強項，專門承接各企業具有挑戰性的任務，攝影棚使用 1G
                        高速專線火速交件。
                    </p>
                    <p>
                        我們的指導原則【我待客戶如初戀、客戶許願就實現】，我們深信您的 KPI 就是我們的 KPI，所以只有您成功了，我們才可以成功，遵循 DevOps
                        大原則，首創敏捷式急速剪輯，只要客戶要求，可以達到今日事今日畢，滿足您急著上檔的專案。
                    </p>
                    <p>
                        <a href="https://www.xvideo.com.tw/" target="_blank"
                            class="ha-btn">https://www.xvideo.com.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        @* <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/hackmd-logo.svg" width="500" alt="HackMD">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h2>HackMD</h2>
                    <p>
                        HackMD 是以 Markdown 為本，追求流暢、簡潔的線上協作筆記。無論是社群多人編輯、團隊溝通共筆、個人便捷紀錄，HackMD
                        支援多種語法、圖表、數學表達式，搭配書本模式、簡報模式跟留言互動功能。讓筆記，不只是筆記。上線至今，已經有超過 5,000,000 份筆記，以及超過 27,000 個團隊空間使用。HackMD
                        能夠便捷寫作、版面俐落，聰明的筆記整理方法，受到國內外用戶的喜愛。從下筆、編輯、共筆到發表，HackMD 讓你的知識最有效率地呈現，跟人們以最流暢的速度分享。
                    </p>
                    <p>
                        在 HackMD 開啟一份新筆記吧！
                    </p>
                    <p>
                        <a href="https://hackmd.io/" target="_blank" class="ha-btn">https://hackmd.io/</a>
                    </p>
                </div>
            </div>
        </div> *@
        <br />
        <br />
        @* <div class="row">
        <div class="col-lg-3">
        <div class="ha-pic">
        <img src="./img/sponsors/hackmd-logo.svg" width="500" height="300" alt="HackMD">
        </div>
        </div>
        <div class="col-lg-3">
        <div>
        <h2>HackMD</h2>
        <p>
        HackMD 是以 Markdown 為本，追求流暢、簡潔的線上協作筆記。無論是社群多人編輯、團隊溝通共筆、個人便捷紀錄，HackMD
        支援多種語法、圖表、數學表達式，搭配書本模式、簡報模式跟留言互動功能。讓筆記，不只是筆記。上線至今，已經有超過 5,000,000 份筆記，以及超過 27,000 個團隊空間使用。HackMD
        能夠便捷寫作、版面俐落，聰明的筆記整理方法，受到國內外用戶的喜愛。從下筆、編輯、共筆到發表，HackMD 讓你的知識最有效率地呈現，跟人們以最流暢的速度分享。
        </p>
        <p>
        在 HackMD 開啟一份新筆記吧！
        </p>
        <p>
        <a href="https://hackmd.io/" target="_blank" class="ha-btn">https://hackmd.io/</a>
        </p>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ha-pic">
        <img src="./img/organizer/ithome-logo.svg" width="500" height="300" alt="iThome">
        </div>
        </div>
        <div class="col-lg-3">
        <div>
        <h2>iThome</h2>
        <p>
        iThome電腦報周刊是臺灣資訊類雜誌中發行量最大的 IT 雜誌，長期報導企業資訊應用、IT 管理、資訊產品與技術發展。主要讀者群為企業中的 CIO、IT/MIS 人員、App 或軟體開發從業人員、CEO 等。旗下網站包括
        iThome 新聞網站、臺灣大型 IT 知識社群「iT 邦幫忙」。另每年在臺舉辦大型技術研討會如臺灣資安大會、臺灣雲端大會、ModernWeb、Kubernetes Summit、DevOpsDays
        Taipei、Agile Summit、IT EXPLAINED Webinar 等。
        </p>
        <p>
        <a href="https://ithome.com.tw/" target="_blank" class="ha-btn">https://ithome.com.tw/</a>
        </p>
        </div>
        </div>
        </div> *@
    </div>
</section>
@code {

}
